* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    scroll-behavior: smooth;

    /* paleta de colores */
    --azul: #007ABB;
    --morado: #4B43CA;
    --verde: #D0D566;
    --gris: #797371;

    --blanco: #FBFBFA;
    --negro: #1A1A1A;



}

:root {
    font-size: 12px;
}

/* Protanopía */
body.protanopia *{
    --azul: #38A0C8;   /* Azul más distinguible */
    --morado: #7070EB; /* Morado más claro */
    --verde: #C6C799;  /* Verde amarillento más distinguible */
    --gris: #797371;
    --blanco: #FBFBFA;
    --negro: #1A1A1A;
}

/* Deuteranopía */
body.deuteranopia *{
    --azul: #38A0C8;
    --morado: #7070EB;
    --verde: #C6C799;
    --gris: #797371;
    --blanco: #FBFBFA;
    --negro: #1A1A1A;
}

/* Tritanopía */
body.tritanopia *{
    --azul: #38A086;   /* Verde-azulado */
    --morado: #AF8C78; /* Color más distinguible en la gama del morado */
    --verde: #C6C799;
    --gris: #6c564e;
    --blanco: #FBFBFA;
    --negro: #1A1A1A;
}

@font-face {
    font-family: 'SegoeUI';
    src: url(../recursos/SegoeUI.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(../recursos/Montserrat.ttf);
}

main {
    width: 100%;
    background-color: var(--blanco);
}

section {
    width: 100%;
}

h1 {
    font-family: 'SegoeUI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 55px;
}

h2 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 600;
}

p {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    line-height: 22px;
}

li{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    line-height: 22px;
}

a {
    color: var(--negro);
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

button a{
    color:var(--morado);
}

label {
    font-family: 'SegoeUI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    line-height: 20px;
}

.titulo {
    font-size: 5.2rem;
    text-align: left;
}

.titulo-2{
    font-size: 2.3rem;
    font-weight: 600;
}

.titulo-3{
    font-size: 1.7rem;
    font-weight: 600;
}

.subtitulo {
    font-size: 1.5rem;
}

.parrafo {
    font-size: 1.3rem;
    text-align: left;
}

.morado {
    color: var(--morado);
    transition: 0.7s ease;
}

.azul {
    color: var(--azul);
}

.blanco {
    color: var(--blanco);
}

.negro {
    color: var(--negro);
}

button {
    width: 150px;
    border: none;
    padding: 8px;
    border-radius: 5px;
    background-color: var(--verde);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.5s;
    font-family: 'SegoeUI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    color: var(--morado);
    font-weight: 700;
}

button:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    cursor: pointer;
    transition: 0.5s;
    filter: blur(1px);
}

nav {
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    z-index: 3;
    transition: 0.7s ease;
    overflow: hidden;
}

nav>ul {
    height: inherit;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
    color: var(--negro);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

nav>ul>li {
    transition: text-underline-offset 0.6s ease, color 0.6s ease;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-decoration-thickness: 7px;
    text-underline-offset: 5px;
    color: var(--negro);
    text-decoration-skip-ink: none;
}

nav>ul>li:hover {
    text-decoration-color: var(--morado);
    text-underline-offset: 17px;
}

nav>ul>li:hover a {
    color: var(--morado);
}

.active-li {
    text-decoration-color: var(--morado);
    text-underline-offset: 17px;
}

.active-li a {
    color: var(--morado);
}

#principal {
    background-color: var(--blanco);
    position: relative;
}

.header {
    display: flex;
    align-items: center;
}

.seccion-header {
    width: 26%;
    display: flex;
    flex-direction: column;
    margin-left: 9%;
    gap: 15px;
}

.img-header {
    position: absolute;
}

.seccion-flex {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: auto;
}

.seccion-flex p {
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
}

footer {
    width: 100%;
    height: 150px;
    display: flex;
    background-color: var(--morado);
    justify-content: space-around;
    border-top: 1.5px solid var(--blanco);
}

.div-footer {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-footer>ul {
    list-style: none;
}

.div-footer>ul>li {
    padding: 10px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    color: var(--blanco);
}

#hecho-por li:nth-child(1) {
    font-size: 1.4rem;
    font-weight: 600;
}

.div-footer>ul>li a {
    text-decoration: underline;
    color: var(--blanco);
}

/* animaciones */

@keyframes flotar {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-7px);
    }
    100% {
        transform: translateY(0px);
    }
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}
